.profile__about {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0px;
  margin-top: 4px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
}
@media screen and (max-width: 915px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 375px) {
  .profile__about {
    max-width: 250px;
  }
}
