.profile__author {
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 56px;
  color: #ffffff;
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 500px;
  
}
@media screen and (max-width: 915px) {
  .profile__author {
    font-size: 27px;
    line-height: 56px;
  }
}
@media screen and (max-width: 375px) {
  .profile__author {
    max-width: 250px;
  }
}
